<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/apache.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">What we do</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">There is a good chance we've found your details by looking at github, befriending you on LinkedIn, whois records, frequently we simply browse to your homepage (if you created one we usually find it), or if we're connected on LinkedIn, we get your email address directly from there. We are no saints, we sincerely hope you don't mind us tapping into your online presence.
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gnu.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Our DevOps message to the C-crowd</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We know that successful adoption of DevOps principles requires buy-in, in particular, from C-level operatives. When we say buy-in, we mean devotion, clarity, vision, acceptance of the DevOps narrative. Time and again we've witnessed great people, entire teams, being shot down by middle manager ITIL jockeys ruling the path to production, and C-types professing Agile in spirit, but ITIL by action. They never see it: Self defeating risk-averseness, turning DevOps into a mirage. Are you a C-type, our deepfelt advise to you is: Adopt Agile completely, forget ITIL, bin the Gant charts, toss out your Prince2 practioners, become a risk-taker, a thought leader, a hero to your subordinates, and by doing so, attract better people, reduce churn, increase velocity, domain knowledge per head, deliver more, ensure the success of your business. Realise that avoiding risk is the greatest risk to success.
</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/docker.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Where we like to fit in</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are always looking for people with skills that fit into modern software delivery teams: DevOps minded sys-admins, developers, automation QAs, big data types, open source buffs, agile practitioners, scrum masters. 
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/money.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Referrals</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We give up 10% of a referred contractors gross margin, or for permanent referrals, 10% of our fee. For a contractor this could be worth £1500 per year, or somewhere between £750-£1500 for a permanant placement.</p>
                                </div>
                            </div>
                        </li>

                        <li> 
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/jenkins.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Data protection</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Your data is safe. Have you any concerns what-so-ever, drop us a line immediately. We are working on GDPR compliance.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
